@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="text-center" style="margin-top:25%">
        <marquee scrollamount="9"> <h1>Welcome @User.Identity.Name!</h1> </marquee>
    </div>


</div>